<div class="bs-callout bs-callout-warning" id="jquery-required">
    <h4>Incomplete List </h4>
    <p>Our goal is to use community power to create and maintain list of usefull tools for developers . Original idea from <a href="http://www.hanselman.com/blog/ScottHanselmans2014UltimateDeveloperAndPowerUsersToolListForWindows.aspx" target="_blank">Scott Hanselman's Ultimate Developer and Power Users Tool List for Windows</a>. Please <a href="https://github.com/Hameds/DevTools/fork" target="_blank">fork</a> & help us make this list better</p>
</div>