<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
	   <li class="sidebar-brand">
			<a href="http://araye.github.io/DevTools/" >
				Araye Dev Tools
			</a>
		</li>                
		
		<li>
			<a href="http://araye.github.io/DevTools/dotnet">.NET</a>
		</li>
		<li>
			<a href="http://araye.github.io/DevTools/visualstudio">Visual Studio Add-ins</a>
		</li>
		<li>
			<a href="http://araye.github.io/DevTools/websites">Web Sites</a>
		</li>
		<li>
			<a href="http://araye.github.io/DevTools/chrome">Chrome Extensions</a>
		</li>    
		<li>
			<a href="http://araye.github.io/DevTools/sharepoint">SharePoint Development</a>
		</li>  	
		<li>
			<a href="http://araye.github.io/DevTools/js">JavaScript Development</a>
		</li>
		<li>
			<a href="http://araye.github.io/DevTools/css">CSS Development</a>
		</li>
		<li>
			<a href="http://araye.github.io/DevTools/python">Python</a>
		</li>
		<li>
			<a href="http://araye.github.io/DevTools/php">PHP</a>
		</li>
		<li>
			<a href="http://araye.github.io/DevTools/ruby">Ruby</a>
		</li>
		<li>
                        <a href="http://araye.github.io/DevTools/powershell">powershell</a>
                </li>
	</ul>
</div>
